

.sidebar-rounded{
    background-color: rgba(255, 255, 255, 0.2);
    width: 4rem;
    height: 4rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    color : rgba(255, 255, 255, 0.7);
}



.sidebar-rounded:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 1);
}

.chevron-rounded{
    background-color: #F7F7F7;
    width: 5rem;
    height: 5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.violet{
    color : #AA66CC;
}

.bg-violet{
    color: #fff;
    background-color:  #AA66CC;
}

.btn-violet {
  color: #fff;
  background-color: #AA66CC;
  border-color: #AA66CC;
}

.btn-violet:hover {
  color: #fff;
  background-color: #8F54AC;
  border-color: #8F54AC;
}

.btn-violet.active {
  color: #fff;
  background-color: #8639ac;
  border-color: #8639ac;
}

.chevron-rounded:hover {
    color: #8B8B8B!important;
    background-color: #E7E7E7;
}

.border-left-violet {
  border-left: 0.25rem solid #AA66CC !important;
}

.btn-unselected{
    opacity: .5;
}

.logo-rounded{
    width: 7.1rem;
    height: 7.1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo-credit{
    width: 5rem;
    height: 5rem;
}

.rounded-button{
    border-radius: 15px;
}

.btn-sideToogle{
    border-bottom-right-radius: 0px 0px;
    border-top-right-radius: 0px 0px;
}

.fixed-btn{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}


/**
 * CHAT SYSTEM
 * CREATED AND DESIGNED BY NATHAN GOBINET
 * ALL RIGHT RESERVED
 */

 .chat-size{
    z-index: 3;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 400px;
    border-radius: 30px 30px 0px 30px;
}

.chat-col-name{
    border-radius: 0px 0px 0px 30px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    height : 356px;
    overflow-y: auto;
    border-right:  2px solid rgba(0, 0, 0, 0.125);
}

.chat-col-message{
    border-radius: 0px 0px 0px 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    height : 356px;
}

.messages{
    max-height: 315px;
    min-height: 315px;
    overflow-y: auto;
}

@media screen and (max-width: 576px){
    .chat-col-name{
        border-radius: 0px 0px 0px 0px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        height : 75px;
        border-bottom:  2px solid rgba(0, 0, 0, 0.125);
        overflow: auto;
    }
    .chat-col-message{
        border-radius: 0px 0px 0px 30px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        height : 256px;
    }
    .messages{
        max-height: 215px;
        min-height: 215px;
        overflow-y: auto;
    }
}

@media screen and (max-width: 576px){
    .chat-size{
        position: fixed;
        right: 1rem;
        bottom: 1rem;
       width: calc(100% - 9rem);
       min-width: 100px;
       border-radius: 30px 30px 0px 30px;
   }
}

.bgMessageGrey{
    background-color: #f2f2f2;
}

/* Custom inline col-name */

.chat-responsive-li{
    height: 100%;
}




/**
 * END OF CHAT
 */

 .btn-sideToogle:hover {
    background-color: rgba(255, 255, 255, 0.25)!important;
    color: rgba(255, 255, 255, 1)!important;
}


@media screen and (max-width: 768px){
    .title-text-auto-size{
        text-align: center;
    }
    .title-btn-auto-size{
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .title-row-auto-size{
        text-align: right;
    }
    
}

@media screen and (max-width: 1200px){
    .text-center-responsive-xl{
        margin-right: auto!important;
        margin-left: auto!important;
        text-align: center!important;
    }
}

.rouded-hover{
    height: 2rem;
    width: 2rem;
    border-radius: 50% !important;
}

.rouded-hover:hover{
    background-color: #eaecf4;
}

.close-hover{
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
}


.chat-close{
    padding: 0;
    padding-bottom: 2px;
    float: right;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 0;
    color: #fff;
    text-shadow: 0 1px 0 #93a9eb;
}

.close-hover:hover{
    background-color: #93a9eb;
}

.smooth{
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

/**
 * Auto complete
 */

 .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}


/**
* Rating system
**/

.rating-system label{
  float:right;
  display:inline-block;
  width:20px;
  height:5px;
  background:#ccc;
  position: relative;
  transition:all .25s;
}

.rating-system{
  width:auto;
  display:inline-block;
  position: relative;
} 

.rating-system input{
    display:none;
}

.rating-system label{
  width:2rem;
  height:2rem;
  border-radius:100%; 
  margin:0 12px;
}

.ratings-system label:before{display:none;}
.rating-system label:hover ~ label,
.rating-system label:hover
{
  background:#ffee96;
  box-shadow: 0 0 0 2px gold;
  
} 

.rating-system input:checked ~ label{
  transition: all .5s;
  background:gold;
  box-shadow: 0 0 0 2px gold;
}


/**
* NO UI SLIDER
**/

.noUi-target,
.noUi-target *
{Modification
    box-Modificationsizing: border-box; 
    Modification
    -webModificationkit-user-select: none;
    -Modificationmoz-user-select: none;
    Modification-ms-user-select: none;
    Modification    user-select: none;
    Modification
    -webModificationkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: none;
}

.noUi-target
{
    position: relative;

    direction: ltr;
}

.noUi-base,
.noUi-connects
{
    position: relative;
    z-index: 1; 

    width: 100%;
    height: 100%;
}

/* Wrapper for all connect elements.
*/
.noUi-connects
{
    z-index: 0; 

    overflow: hidden;
}

.noUi-connect,
.noUi-origin
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform-origin: 0 0; 

    will-change: transform;
}

html:not([dir='rtl']) .noUi-horizontal .noUi-origin
{
    right: 0; 
    left: auto;
}

.noUi-vertical .noUi-origin
{
    width: 0;
}

.noUi-horizontal .noUi-origin
{
    height: 0;
}

.noUi-handle
{
    position: absolute;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin
{
    transition: transform .3s;
}

.noUi-state-drag *
{
    cursor: inherit !important;
}

.noUi-horizontal
{
    height: 5px;
}

.noUi-horizontal .noUi-handle
{
    top: -6px; 
    left: -17px;

    width: 34px;
    height: 28px;
}

.noUi-vertical
{
    width: 5px;
}

.noUi-vertical .noUi-handle
{
    top: -17px; 
    left: -6px;

    width: 28px;
    height: 34px;
}

html:not([dir='rtl']) .noUi-horizontal .noUi-handle
{
    right: -17px;
    left: auto;
}

.noUi-connects
{
    border-radius: 3px;
}

.noUi-connect
{
    background: #5e72e4;
}

.noUi-draggable
{
    cursor: ew-resize;
}

.noUi-vertical .noUi-draggable
{
    cursor: ns-resize;
}

.noUi-handle
{
    cursor: default;

    border: 1px solid #d9d9d9;
    border-radius: 3px;
    outline: none; 
    background: #fff;
    box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

.noUi-active
{
    outline: none;
}

/* Disabled state;
*/
[disabled] .noUi-connect
{
    background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle
{
    cursor: not-allowed;
}

/* Base;
 *
 */
 .noUi-pips,
 .noUi-pips *
 {
    box-sizing: border-box;
}

.noUi-pips
{
    position: absolute;

    color: #999;
}

/* Values;
 *
 */
 .noUi-value
 {
    position: absolute;

    text-align: center; 
    white-space: nowrap;
}

.noUi-value-sub
{
    font-size: 10px; 

    color: #ccc;
}

/* Markings;
 *
 */
 .noUi-marker
 {
    position: absolute;

    background: #ccc;
}

.noUi-marker-sub
{
    background: #aaa;
}

.noUi-marker-large
{
    background: #aaa;
}

/* Horizontal layout;
 *
 */
 .noUi-pips-horizontal
 {
    top: 100%;
    left: 0;

    width: 100%; 
    height: 80px;
    padding: 10px 0;
}

.noUi-value-horizontal
{
    transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal
{
    transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker
{
    width: 2px;
    height: 5px; 
    margin-left: -1px;
}

.noUi-marker-horizontal.noUi-marker-sub
{
    height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large
{
    height: 15px;
}

/* Vertical layout;
 *
 */
 .noUi-pips-vertical
 {
    top: 0;
    left: 100%; 

    height: 100%;
    padding: 0 10px;
}

.noUi-value-vertical
{
    padding-left: 25px; 

    transform: translate(0, -50%, 0);
}

.noUi-rtl .noUi-value-vertical
{
    transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker
{
    width: 5px;
    height: 2px;
    margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub
{
    width: 10px;
}

.noUi-marker-vertical.noUi-marker-large
{
    width: 15px;
}

.noUi-tooltip
{
    position: absolute;

    display: block;

    padding: 5px;

    text-align: center;
    white-space: nowrap; 

    color: #000;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;
}

.noUi-horizontal .noUi-tooltip
{
    bottom: 120%; 
    left: 50%;

    transform: translate(-50%, 0);
}

.noUi-vertical .noUi-tooltip
{
    top: 50%;
    right: 120%; 

    transform: translate(0, -50%);
}

.noUi-target
{
    margin: 15px 0;

    cursor: pointer; 

    border: 0;
    border-radius: 5px;
    background: #eceeef;
    box-shadow: inset 0 1px 2px rgba(90, 97, 105, .1);
}

.noUi-horizontal
{
    height: 5px;
}

html:not([dir='rtl']) .noUi-horizontal .noUi-handle
{
    right: -10px;
}

.noUi-vertical
{
    width: 5px;
}

.noUi-connect
{
    background: #5e72e4;
    box-shadow: none;
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle
{
    top: -5px;

    width: 15px;
    height: 15px;

    cursor: pointer;
    transition: box-shadow .15s, transform .15s; 

    border: 0;
    border-radius: 100%;
    background-color: #5e72e4;
    box-shadow: none;
}

.noUi-horizontal .noUi-handle.noUi-active,
.noUi-vertical .noUi-handle.noUi-active
{
    transform: scale(1.2);
}

.input-slider--cyan .noUi-connect
{
    background: #2bffc6;
}

.input-slider--cyan.noUi-horizontal .noUi-handle,
.input-slider--cyan.noUi-vertical .noUi-handle
{
    background-color: #2bffc6;
}

.input-slider--red .noUi-connect
{
    background: #f5365c;
}

.input-slider--red.noUi-horizontal .noUi-handle,
.input-slider--red.noUi-vertical .noUi-handle
{
    background-color: #f5365c;
}

.input-slider--green .noUi-connect
{
    background: #2dce89;
}

.input-slider--green.noUi-horizontal .noUi-handle,
.input-slider--green.noUi-vertical .noUi-handle
{
    background-color: #2dce89;
}

.input-slider--yellow .noUi-connect
{
    background: #ffd600;
}

.input-slider--yellow.noUi-horizontal .noUi-handle,
.input-slider--yellow.noUi-vertical .noUi-handle
{
    background-color: #ffd600;
}

.input-slider--pink .noUi-connect
{
    background: #f3a4b5;
}

.input-slider--pink.noUi-horizontal .noUi-handle,
.input-slider--pink.noUi-vertical .noUi-handle
{
    background-color: #f3a4b5;
}

/* Disabled state */
[disabled] .noUi-connect,
[disabled].noUi-connect
{
    background: #b2b2b2;
}

[disabled] .noUi-handle,
[disabled].noUi-origin
{
    cursor: not-allowed;
}

/* Range slider value labels */
.range-slider-value
{
    font-size: .75rem;
    font-weight: 500;

    padding: .4em .8em .3em .85em; 

    color: #fff;
    border-radius: 10px;
    background-color: rgba(33, 37, 41, .7);
}

.range-slider-wrapper .upper-info
{
    font-weight: 400;

    margin-bottom: 5px;
}

.input-slider-value-output
{
    font-size: 11px;

    position: relative;
    top: 12px;

    padding: 4px 8px;

    color: #fff;
    border-radius: 2px; 
    background: #333;
}

.input-slider-value-output:after
{
    position: absolute;
    bottom: 100%;
    left: 10px;

    width: 0;
    height: 0;
    margin-left: -4px; 

    content: ' ';
    pointer-events: none;

    border: solid transparent;
    border-width: 4px;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #333;
}

.input-slider-value-output.left:after
{
    right: auto; 
    left: 10px;
}

.input-slider-value-output.right:after
{
    right: 10px;
    left: auto;
}